
html, body { 
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height : 300px;
    width : 300px;
}

.mdl-card{
    background: #3E4EB8;
    width: 300px;
    color: white;
}

#slider {
    width: 300px;
}
